.custom-navbar {
    .nav-color {
        background-color: #ffffff;
    }
    .nav-color {
        background-color: #ffffff;
    }
    .nav-item a {
        color: #000000;
        text-transform: uppercase;
        font-weight: 500;
    }
    .nav-item :hover{
        color: #B1D8D1;
        transition: all .4s ease;
        -webkit-transition: all .4s ease;
    }
}